@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main-font {
    font-family: 'Montserrat', sans-serif !important;
}

.main-color {
    background-color: #ECB651 !important;
}

.secondary-color {
    background-color: #754865 !important;
}

a {
    color: #754865;
}

/* base.html style */

@media (max-width: 280px) {

    header.masthead .page-heading h1,
    header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
        font-size: 1.75rem;
    }

    header.masthead .page-heading .subheading,
    header.masthead .site-heading .subheading {
        font-size: 0.9rem;
    }
}

@media (min-width: 281px) and (max-width: 576px) {

    header.masthead .page-heading h1,
    header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
        font-size: 2rem;
    }

    header.masthead .page-heading .subheading,
    header.masthead .site-heading .subheading {
        font-size: 1.1rem;
    }
}

@media (max-width: 360px) {
    .navbar-brand {
        font-size: 0.8rem !important;
    }
}

.copyright-text {
    color: #000000 !important;
}

/* recipe card style on index.html */
.container {
    margin-top: 50px;
}

.card {
    margin: 20px 0px;
    height: 100%;
    position: relative;
    border: 1px solid #444444;
}

.card-control {
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card-title {
    height: 3.5rem;
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem 0;
}

.card h5 {
    border-bottom: 1px solid #000000;
}

.card img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-text {
    font-size: 1.25rem;
    height: 80%;
}

.recipe-btn-div {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-btn-div .btn {
    height: 40px;
    padding: 10px;
    margin: auto 0;
    border-radius: 10px;
    color: #000000;
    border: 2px solid #754865;
}

.shadow-effect {
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.24);
}

@media (max-width: 360px) {
    .card {
        height: 90%;
    }

    .card-control {
        margin-bottom: 0px;
    }

    .card img {
        height: 150vw;
    }

    .card-text {
        font-size: 0.9rem;
        font-family: Roboto;
    }

    .recipe-btn-div .btn {
        margin: 0 0 30px 0;
    }
}

@media (max-width: 576px) {
    .card img {
        height: 80vw;
    }

    .card-control {
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .card {
        height: 90%;
    }

    .card img {
        height: 80vw;
    }

    .card-control {
        margin-bottom: 0px;
    }

    .card-text {
        font-size: 0.9rem;
        height: 30%;
    }

    .recipe-btn-div .btn {
        height: 40px;
        padding: 10px;
        margin: 0 0 30px 0;
        border-radius: 10px;
    }
}

/* form style on register.html */

.register-form {
    background-color: #ffffff;
    border: 1px solid #737b82;
    border-radius: 10px;
    margin: 0 !important;
    padding-bottom: 20px;
}

.form-title {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    font-size: 1.75rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: .5px;
}

.form-group {
    padding: 0 20px;
    color: #000000;
}

.form-label {
    text-align: left;
    font-size: 1.2rem;
}

.form-icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

.form-button-div {
    text-align: center;
}

.form-button {
    height: 50px;
    width: 8rem;
    padding: 10px 20px;
    margin: auto 0;
    border-radius: 10px;
    color: #000000;
    border: 2px solid #754865 !important;
}

/* Styling for profile.html */

.profile-button-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 20px 10px;
}

#profile-card .card {
    margin: 0;
}

.profile-button-div .btn {
    height: 2.5rem;
    width: 6rem;
    padding: 10px;
    margin: auto 0;
    border-radius: 10px;
    color: #000000;
    border: 2px solid #754865;
}

.profile-button-icon {
    margin-right: 5px;
}

@media (max-width: 576px) {
    #profile-card .card {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    #profile-card .card {
        margin-bottom: 60px;
    }
}

/* modal.html styling */

.modal-header-text {
    font-weight: 700;
    color: #000000;
}

.modal-body-text {
    text-align: left;
    color: #000000;
}

/* addrecipe.html styling */

#add-recipe-heading {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#recipe-heading-text {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#add-recipe-button {
    color: #000000;
    font-weight: 700;
    border-radius: 10px;
}

/* addrecipe-form.html styling */

.addrecipe-form-label {
    margin-top: 5px;
}

.form-select {
    margin-top: 10px;
}

.addrecipe-form-label {
    color: #000000;
}

.add-recipe-modal-header {
    color: #000000;
}

.recipe-form-subheading {
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
}

.addrecipe-form-div {
    margin-top: 10px;
}

.add-modal-button {
    font-weight: 700;
    color: #000000;
    margin: auto;
    border: 2px solid #754865;
    border-radius: 10px;
}

/* update-recipe-form.html styling */

#update-modal-button {
    font-weight: 700;
    color: #000000;
    margin: auto;
    border: 2px solid #754865;
    border-radius: 10px;
    width: 10rem;
}

/* flash alert styling */

.alert-success,
.alert-danger {
    text-align: center;
}

.alert-dismissible,
.alert {
    padding: 1rem 0;
}

.close-alert {
    padding-left: 3rem;
    font-size: 1.7rem;
}

/* Confirm-delete.html modal styling */

#confirm-delete-title {
    font-weight: 700;
}

#confirm-delete-body {
    font-weight: 500;
    color: #000000;
}

#confirm-delete-div {
    justify-content: center;
    font-weight: 700;
}

#confirm-delete-button {
    border: none;
    background-color: #FF0000;
    font-weight: 700;
}

/* Button animation across all pages */

.btn:hover {
    background-color: #ffffff !important;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.24);
}

.btn:active {
    background-color: #754865 !important;
    color: #ffffff;
    box-shadow: none;
}