/* base.html style */

@media (max-width: 280px) {
    header.masthead .page-heading h1, header.masthead .page-heading .h1, header.masthead .site-heading h1, 
    header.masthead .site-heading .h1 {
        font-size: 1.75rem;
    }
    header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
        font-size: 0.9rem;
    }
}

@media (min-width: 281px) and (max-width: 576px) {
    header.masthead .page-heading h1, header.masthead .page-heading .h1, header.masthead .site-heading h1, 
    header.masthead .site-heading .h1 {
        font-size: 2rem;
    }
    header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, 
    .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
        flex-wrap: nowrap;
}
}
