{% extends "base.html" %}
<!-- Text appearing over the main image -->
{% block text_main_image %}
<div class="site-heading">
    <h1 class="main-font">Get a GoodFoodMood</h1>
    <span class="subheading main-font">Browse and share your favourite recipes</span>
</div>
{% endblock %}

{% block content %}
<!-- Bootstrap card for each Recipe data iteration -->
<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="card-control col-12 col-md-6 col-lg-4">
            <div class="card shadow-effect">
                <h5 class="card-title text-center main-font secondary-color">{{ recipe.recipe_name }}</h5>
                <img src="{{ recipe.image_url }}" class="card-img-top index-profile-img" alt="{{ recipe.recipe_name }}">
                <div class="card-body">
                    <p class="card-text main-font">{{ recipe.description }}</p>
                </div>
                <div class="recipe-btn-div">
                    <!-- Button to activate the full-recipe-modal -->
                    <a href="#" class="btn btn-success shadow-effect main-font main-color" data-mdb-toggle="modal"
                        data-mdb-target="#modal{{recipe._id}}">Recipe Info</a>
                    <!-- Modal box to display recipe info -->
                    {% include 'components/full-recipe-modal.html' %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}