{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="card-control col-12 col-md-4">
            <div class="card shadow-effect">
                <h5 class="card-title text-center">{{ recipe.recipe_name }}</h5>
                <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.recipe_name }}">
                <div class="card-body">
                    <p class="card-text">{{ recipe.description }}</p>
                </div>
                <div class="recipe-btn-div">
                    <a href="#" class="btn btn-success shadow-effect">Recipe Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}