{% extends "base.html" %}
<!-- Text appearing over the main image -->
{% block text_main_image %}
<div class="site-heading">
    <h1 class="main-font">Welcome to your profile {{ username }}</h1>
    <span class="subheading main-font">Home to your favourite Recipes!</span>
</div>
{% endblock %}

{% block content %}
<!-- Bootstrap card for each Recipe data iteration -->
<div class="container">
    <div class="row">
        <!-- for loop, looping through all the recipes on MongoDB -->
        {% for users_recipe in recipes %}
        <!-- if statement the displays only recipes created by the user and displays all recipes if the username is admin -->
        {% if session.username|lower == users_recipe.recipe_by|lower or session.username|lower == "admin"|lower %}
        <div class="card-control col-12 col-md-4" id="profile-card">
            <div class="card shadow-effect">
                <h5 class="card-title text-center main-font secondary-color">{{ users_recipe.recipe_name }}</h5>
                <img src="{{ users_recipe.image_url }}" class="card-img-top" alt="{{ users_recipe.recipe_name }}">
                <div class="profile-button-container">
                    <div class="profile-button-div">
                        <!-- Button for users to update/edit their recipes linked to update-recipe-form.html -->
                        <a href="{{ url_for('update_recipe', recipe_id=users_recipe._id) }}"
                            class="btn btn-success shadow-effect main-font main-color" data-mdb-toggle="modal"
                            data-mdb-target="#modal{{users_recipe._id}}"><i
                                class="far fa-edit profile-button-icon"></i>Edit</a>
                        {% include 'components/update-recipe-form.html' %}
                    </div>
                    <div class="profile-button-div">
                        <!-- Button for users to delete recipes they created with linked modal to confirm they want to delete-->
                        <a href="#" class="btn btn-danger shadow-effect main-font main-color" data-mdb-toggle="modal"
                            data-mdb-target="#confirm-delete"><i
                                class="far fa-trash-alt profile-button-icon"></i>Delete</a>
                        {% include 'components/confirm-delete.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}