<!-- MDB Bootstrap Modal for index.html page recipe info button-->
{% block modal %}
<div class="modal fade colour" id="modal{{recipe._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-font modal-header-text" id="exampleModalLabel">{{ recipe.recipe_name }}</h4>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                </div>
                <hr>
                <div class="main-font modal-body-text">
                    <h5 class="main-font modal-body-text">Ingredients</h5>
                    <ul>
                        <li>{{ recipe.ingredients_1 }}</li>
                        <li>{{ recipe.ingredients_2 }}</li>
                        {% if recipe.ingredients_3 %}
                        <li>{{ recipe.ingredients_3 }}</li>
                        {% endif %}
                        {% if recipe.ingredients_4 %}
                        <li>{{ recipe.ingredients_4 }}</li>
                        {% endif %}
                        {% if recipe.ingredients_5 %}
                        <li>{{ recipe.ingredients_5 }}</li>
                        {% endif %}
                        {% if recipe.ingredients_6 %}
                        <li>{{ recipe.ingredients_6 }}</li>
                        {% endif %}
                        {% if recipe.ingredients_7 %}
                        <li>{{ recipe.ingredients_7 }}</li>
                        {% endif %}
                        {% if recipe.ingredients_8 %}
                        <li>{{ recipe.ingredients_8 }}</li>
                        {% endif %}
                    </ul>
                </div>
                <hr>
                <div class="main-font modal-body-text">
                    <h5 class="main-font colour modal-body-text">Directions</h5>
                    <ol>
                        <li> {{ recipe.directions_1 }}</li>
                        <li> {{ recipe.directions_2 }}</li>
                        {% if recipe.directions_3 %}
                        <li> {{ recipe.directions_3 }}</li>
                        {% endif %}
                        {% if recipe.directions_4 %}
                        <li> {{ recipe.directions_4 }}</li>
                        {% endif %}
                        {% if recipe.directions_5 %}
                        <li> {{ recipe.directions_5 }}</li>
                        {% endif %}
                        {% if recipe.directions_6 %}
                        <li> {{ recipe.directions_6 }}</li>
                        {% endif %}
                        {% if recipe.directions_7 %}
                        <li> {{ recipe.directions_7 }}</li>
                        {% endif %}
                        {% if recipe.directions_8 %}
                        <li> {{ recipe.directions_8 }}</li>
                        {% endif %}
                    </ol>
                </div>
                <hr>
                <div class="main-font modal-body-text">
                    <ul>
                        <li>Prep Time: {{ recipe.prep_time }}</li>
                        {% if recipe.cook_time %}
                        <li>Cook Time: {{ recipe.cook_time }}</li>
                        {% endif %}
                        <li>Total Time: {{ recipe.total_time }}</li>
                        <li>Servings: {{ recipe.servings }}</li>
                        {% if recipe.cooking_temperature %}
                        <li>Cooking Temperature: {{ recipe.cooking_temperature }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}